{% extends 'customerapp/base.html' %}

{% load static %}

{% block content %}


<main class="main">
	<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>

				<li class="breadcrumb-item active" aria-current="page">Contact us</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->
	<div class="container">
		<div class="page-header page-header-big text-center"
			style="background-image: url(&quot;{% static 'customerapp/images/contact-header-bg-1.JPEG' %}&quot;)">
			<h1 class="page-title text-white">Contact us<span class="text-white">keep in touch with us</span></h1>
		</div><!-- End .page-header -->
	</div><!-- End .container -->

	<div class="page-content pb-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mb-2 mb-lg-0">
					<h2 class="title mb-1">Contact Information</h2><!-- End .title mb-2 -->
					<p class="mb-3">We are here to assist you with any questions, suggestions, or support you may need.
						Feel free to reach out to us through any of the following channels</p>
					<div class="row">
						<div class="col-sm-7">
							<div class="contact-info">
								<h3>The Office</h3>

								<ul class="contact-list">
									<li>
										<i class="icon-map-marker"></i>
										Emerald Complex, 205, Chimanlal Girdharlal Rd, Mithakhali, Navrangpura,
										Ahmedabad, Gujarat 380009
									</li>
									<li>
										<i class="icon-phone"></i>
										<a href="tel:#">+91 7202963777</a>
									</li>
									<li>
										<i class="icon-envelope"></i>
										<a href="mailto:#">krishnardesai7@gmail.com</a>
									</li>
								</ul><!-- End .contact-list -->
							</div><!-- End .contact-info -->
						</div><!-- End .col-sm-7 -->

						<div class="col-sm-5">
							<div class="contact-info">
								<h3>The Office</h3>

								<ul class="contact-list">
									<li>
										<i class="icon-clock-o"></i>
										<span class="text-dark">Monday-Saturday</span> <br>11am-7pm ET
									</li>
									<li>
										<i class="icon-calendar"></i>
										<span class="text-dark">Sunday</span> <br>11am-6pm ET
									</li>
								</ul><!-- End .contact-list -->
							</div><!-- End .contact-info -->
						</div><!-- End .col-sm-5 -->
					</div><!-- End .row -->
				</div><!-- End .col-lg-6 -->
				<div class="col-lg-6">
					<h2 class="title mb-1">Got Any Questions?</h2><!-- End .title mb-2 -->
					<p class="mb-2">Use the form below to get in touch with the sales team</p>

					<form action="{% url 'contact' %}" method="post" class="contact-form mb-3" novalidate
						id="contactForm">
						{% csrf_token %}

						{% if messages %}
						{% for message in messages %}
						<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"
							style="margin-bottom: 20px;">
							<strong>{% if message.tags == 'error' %}Error:{% else %}Success:{% endif %}</strong> {{
							message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
						</div>
						{% endfor %}
						{% endif %}
						<div class="row">
							<div class="col-sm-6">
								<label for="cname" class="sr-only">Name</label>
								<input type="text" class="form-control" id="cname" name="name" placeholder="Name *"
									value="{{ uid.username }}" required>
								<div class="invalid-feedback" style="display: block; color: red;">Name is required!
								</div>
							</div><!-- End .col-sm-6 -->

							<div class="col-sm-6">
								<label for="cemail" class="sr-only">Email</label>
								<input type="email" class="form-control" id="cemail" name="email" placeholder="Email *"
									value="{{ uid.email }}" required>
								<div class="invalid-feedback" style="display: block; color: red;">Email is required!
								</div>
							</div><!-- End .col-sm-6 -->
						</div><!-- End .row -->

						<div class="row">
							<div class="col-sm-6">
								<label for="cphone" class="sr-only">Phone</label>
								<input type="tel" class="form-control" id="cphone" name="phone" placeholder="Phone *"
									required>
								<div class="invalid-feedback" style="display: block; color: red;">Phone is required!
								</div>
							</div><!-- End .col-sm-6 -->

							<div class="col-sm-6">
								<label for="csubject" class="sr-only">Subject</label>
								<input type="text" class="form-control" id="csubject" name="subject"
									placeholder="Subject *" required>
								<div class="invalid-feedback" style="display: block; color: red;">Subject is required!
								</div>
							</div><!-- End .col-sm-6 -->
						</div><!-- End .row -->

						<label for="cmessage" class="sr-only">Message</label>
						<textarea class="form-control" cols="30" rows="4" id="cmessage" name="message" required
							placeholder="Message *"></textarea>
						<div class="invalid-feedback" style="display: block; color: red;">Message is required!</div>

						<button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
							<span>SUBMIT</span>
							<i class="icon-long-arrow-right"></i>
						</button>
					</form><!-- End .contact-form -->

					<script>
						(function () {
							'use strict';
							window.addEventListener('load', function () {
								var form = document.getElementById('contactForm');
								form.addEventListener('submit', function (event) {
									if (form.checkValidity() === false) {
										event.preventDefault();
										event.stopPropagation();
									}
									form.classList.add('was-validated');
								}, false);
							}, false);
						}());
					</script>
				</div><!-- End .col-lg-6 -->
			</div><!-- End .row -->




		</div><!-- End .container -->
		<div id="map" style="display:flex; gap:20px; align-items:center; justify-content:center;">
			<!-- <video src="{% static 'customerapp/images/stores/scan.MP4' %}" alt="QR Code" style="width:500px; height: 400px;"> -->
			<video width="500" height="400" controls>
				<source src="{% static 'customerapp/images/stores/scan.MP4' %}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			<img src="{% static 'customerapp/images/stores/qr.JPEG' %}" alt="QR Code"
				style="width:550px; height: 492px;">
		</div><!-- End #map -->

	</div><!-- End .page-content -->
</main><!-- End .main -->


<script
	src="https://maps.app.goo.gl/RjexndKZWPqW2x769/maps/api/js?key=AIzaSyDc3LRykbLB-y8MuomRUIY0qH5S6xgBLX4"></script>

{% endblock content %}